<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= render 'layouts/navbar' %></br>
    <%= render 'layouts/sidebar1' %></br>

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
	
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">New Task</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">New Task</h1>
				<div class="panel panel-default">
						<div class="panel-heading clearfix">Please Input The Data</div>
						<div class="panel-body">
							<% if @task.errors.any? %>
				  				<div class='alert alert-danger alert-dismissibele'>
				  					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  					 
				  					<% @task.errors.full_messages.each do |error| %>
				  					<span><%= error %></span></br>
				  					<% end %>
				  				</div>
				  			<% end %>
							<%= form_for @task, url: project_task_index_path, method: :post do |t| %>
						
								<div class="form-group">
									<%= t.hidden_field :code, value: @code,  class: 'form-control', readonly: '' %>
								</div>	
								<div class="form-group">
									<%= t.label :Name%>
									<%= t.text_field :name, class: 'form-control', required: '' %>
								</div>
								(Optional)
								<div class="form-group">
									<%= t.label :Start_Date %>
									<%= t.date_field :start_date, class: 'form-control' %>
								</div>
								<div class="form-group">
									<%= t.label :End_Date %>
									<%= t.date_field :end_date, class: 'form-control' %>
								</div>

								<div class="form-group">
									<%= t.hidden_field :project_id, value: @project.id, class: 'form-control', readonly: '' %>
								</div>

								<div class="form-group">
									<%= t.submit "Create", class: 'btn btn-primary' %>
								</div>	
									
							<% end %>
						</div>
					</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			
		</div>
	</div>
			
</body>
</html>
