
<!DOCTYPE html>
<html>
 <%= stylesheet_link_tag "devise" %>
 <%= stylesheet_link_tag "reset" %>
<head>

  <meta charset="UTF-8">

</head>

<body>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="wrap">
    <div class="avatar">

      <%= image_tag("no-avatar.png") %>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Username', required: "" %>
    <div class="bar">
      <i></i>
    </div>

    
     
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required: "" %>
  
    <a><%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot_link' %></a>
    

     <%= f.submit "Sign In", class: 'button' %>

     <div class="register">
       <center><p>Don't have an account ? <%= link_to "Sign Up", new_registration_path(resource_name)%></p></center>
     </div>  
</div>
<% end %>

</body>

</html>

