<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				 <%= image_tag "user", :class => "img-circle", alt: "" %>
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><h6><%= user_signed_in? ? current_user.name : 'Hello Guest' %></h6></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		
		<ul class="nav menu">
		
			<li><%= link_to ' Dashboard', dashboard_index_path, class: "fa fa-home" %></li>
			<li><%= link_to ' Projects', project_index_path, class: "fa fa-briefcase" %></li>
			<li><%= link_to ' Task', project_task_index_path(@project), class: "fa fa-tasks" %></li>
			<li><%= link_to ' Milestone', project_milestone_index_path(@project), class: "fa fa-text-width" %></li>
			<li><%= link_to ' Item-List', project_item_index_path(@project), class: "fa fa-list-alt" %></li>
			<li><%= link_to ' Issue', project_issue_index_path(@project), class: "fa fa-toggle-off" %></li>
			<li><%= link_to ' Logout', destroy_user_session_path, class: "fa fa-power-off", method: :delete %></li>
		</ul>
		
	</div><!--/.sidebar-->
	