<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%#= javascript_include_tag 'npm.js' %>

  </head>
  <%= stylesheet_link_tag "datepicker3" %>
  <%= stylesheet_link_tag "dashboard" %>
  <body>

    <%= yield %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'bootstrap.js' %>
    <%= javascript_include_tag 'bootstrap-datepicker.js' %>
    <%= javascript_include_tag 'devise.js' %>
    <%= javascript_include_tag 'html5shiv.min.js' %>
    <%= javascript_include_tag 'lumino.glyphs.js' %>
    <%= javascript_include_tag 'respond.min.js' %>
    <%= javascript_include_tag 'custom.js' %>

    <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
    <%= javascript_include_tag 'chart.min.js' %>
    <%= javascript_include_tag 'chart-data.js' %>
    <%= javascript_include_tag 'easypiechart.js' %>
    <%= javascript_include_tag 'easypiechart-data.js' %>
  </body>

</html>
